# IDE files
.vscode

# python cache
*__pycache__
*.egg-info
*.pytest_cache

# test files
test_api.sh
in.txt
out.txt

# simulation run data
sim_api/runs

# user config files
sim_api/config.env
sim_api/api_config.yml
webapp/config.env
webapp/webapp_config.yml