<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Etienne Ott">
    <title>SIMON - Simulation interface and management over network</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
  </head>

  <body class="bg-light">
    <div class="container">

      <h2>Impressum</h2>
      <h4>Angaben gemäß § 5 DDG</h4>
      Steinbeis-Innovationszentrum energieplus<br/>
      Hauptsitz Braunschweig<br/>
      OFFICE am RINGGLEIS<br/>
      Hamburger Straße 277<br/>
      38114 Braunschweig<br/>

      <h4>Vertreten durch</h4>
      Etienne Ott<br/>

      <h4>Kontakt</h4>
      Telefon: + 49 531 793893-80<br/>
      Telefax: + 49 531 793893-98<br/>
      Email: info@siz-energieplus.de<br/>

      <h4>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h4>
      Etienne Ott<br/>
      Steinbeis-Innovationszentrum energieplus<br/>
      OFFICE am RINGGLEIS<br/>
      Hamburger Straße 277<br/>
      38114 Braunschweig<br/>

      <h3>Haftungsausschluss</h3>
      <h4>Haftung für Inhalte</h4>
      <p>
      Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
      Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als
      Diensteanbieter sind wir gemäß § 7 Abs.1 DDG für eigene Inhalte auf diesen Seiten nach den
      allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 DDG sind wir als Diensteanbieter
      jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen
      oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
      Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
      allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst
      ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden
      von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen
      </p>

      <h4>Haftung für Links</h4>
      <p>
      Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen
      Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.
      Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
      Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf
      mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung
      nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne
      konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
      Rechtsverletzungen werden wir derartige Links umgehend entfernen.
      </p>

      <h3>Urheberrecht</h3>
      <p>
      Wo nicht anders angegeben sind Inhalte, Werke und der Quellcode der Seiten unter der MIT
      Lizenz veröffentlicht. <a href="https://github.com/QuaSi-Software/simon/blob/main/LICENSE.md">Der Lizenztext</a>
      definiert die
      Nutzungsbedingungen die jeglicher Nutzung unterliegen. Die darin genannten Personen sind als
      Autor*innen im Sinne des Urheberrechts zu verstehen. Dies umfasst nicht eingebundene und
      verlinkte externe Inhalte. Nur Inhalte, die Teil des Repository der Seiten sind, sind von
      der Lizenz gedeckt.
      </p>

      <p>
      Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die
      Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche
      gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden,
      bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden
      wir derartige Inhalte umgehend entfernen.
      </p>

      <p>
      *Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der
      <a href="https://www.kanzlei-hasselbach.de/rechtsgebiete/familienrecht/">
      Kanzlei Hasselbach, Fachanwälte für Familienrecht</a>*
      </p>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2025 Etienne Ott</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/imprint">Imprint</a></li>
        </ul>
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="static/main.js"></script>
  </body>
</html>