<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Etienne Ott">
    <title>SIMON - Simulation interface and management over network</title>
    <link href="static/libs/bootstrap-5.3.3.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
  </head>

  <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
        <h2>SIMON</h2>
        <p class="lead">
          Configure, start and view results of ReSiE simulations in the browser with built-in synchronisation to NextCloud.
        </p>
      </div>

      <div class="row">
      {% if session['nextcloud_authorized'] %}
        <span id="nc-logged-in-info">Logged in with NextCloud as {{session['user_id']}}</span>
        <a href="{{ url_for('nextcloud_logout') }}">Log out of NextCloud</a>
      {% else %}
        <a href="{{ url_for('nextcloud_login') }}">Login with NextCloud</a>
      {% endif %}
      </div>

      <div class="row">
        <div class="col-lg-6 element-group">
          <h4>NextCloud files</h4>

          <div id="nc-file-list">
            <div id="nc-file-list-blocker" class="hidden"></div>

            <span>Current dir: </span>
            <span id="nc-current-dir" data-dirname="">/</span>
            <button id="upload-input-files" type="button" class="btn btn-primary btn-sm">Upload input files</button>

            <div id="nc-file-list-items"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <h4>Configure simulation</h4>
          <span class="bold">ReSiE version: {{resie_version}}</span>
          <p class="element-group">
            <button id="reset-run" type="button" class="btn btn-warning" disabled>Reset run</button>
            <span class="bold">Run ID:</span> <span id="run-id">-</span>
            <span class="bold">Run status:</span> <span id="run-status">-</span>
            <div>
              <span class="bold">Uploaded files:</span>
              <ul id="uploaded-files"></ul>
            </div>

            <form id="parameters-form" action="" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="config-file-selection" class="bold">Input file</label>
                <select id="config-file-selection" name="config_file_selection" class="form-control w-25"></select>
                <br/>
                <input id="submit-simulate" class="btn btn-primary" type="submit" value="Simulate">
                <button id="stop-simulation" class="btn btn-warning" disabled>Stop</button>
              </div>
            </form>
          </p>
        </div>
      </div>

      <div class="row">
        <h4>Simulation results</h4>
        <button id="fetch-results" type="button" class="btn btn-secondary" disabled>Fetch results</button>
        <p class="element-group">
          <span id="error-label" class="hidden">Errors</span>
          <ul id="error-list" class="hidden"></ul>

          <ul class="nav nav-tabs hidden" id="results-tabs-control" role="tablist">
            {% for res in result_files %}
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="{{res.tab_name}}-control"
                  data-bs-toggle="tab" data-bs-target="#{{res.tab_name}}" type="button" role="tab"
                  aria-controls="{{res.tab_name}}" aria-selected="false">{{res.tab_name_full}}</button>
            </li>
            {% endfor %}
          </ul>

          <div class="tab-content hidden" id="results-tabs-container">
            {% for res in result_files %}
            <div class="tab-pane fade show" id="{{res.tab_name}}"
              role="tabpanel" aria-labelledby="{{res.tab_name}}-control"></div>
            {% endfor %}
          </div>
        </p>
      </div>

      <div class="row">
        <h4>Debug output</h4>
        <p class="element-group">
          <span class="bold">Query list</span>
          <div id="query-list"></div>
        </p>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2025 Etienne Ott</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/imprint">Imprint</a></li>
        </ul>
      </footer>
    </div>

    <script src="static/libs/bootstrap-5.3.3.min.js"></script>
    <script src="static/libs/papaparse-5.7.0.min.js"></script>
    <script type="text/javascript">const API_ROOT = "{{api_root}}";</script>
    <script src="static/main.js"></script>
  </body>
</html>